body {
    font-family: Arial, sans-serif;
    background-color: rgb(254, 254, 254);
}

#comment-feed {
    height: 400px;
}

.box-shadow-inset {
    box-shadow: 0px 1px 2px
}

.comments {
    width: 400px;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    color: black;
    font-weight: bolder;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.comments * {
    display: block;
}

.comments label {
    margin-top: 10px;
    margin-bottom: 10px;
}

#inputAuthor {
    margin-top: 20px;
}

#inputComment {
    margin-top: 20px;
}

#form-comentario textarea,
input {
    padding: 5px;
    resize: none;
    max-width: 300px;
    margin-left: 30px;
    width: 300px;
    color: rgb(17, 35, 41);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(86, 86, 86);
}

#login-form button {
    margin-left: 130px;
    margin-top: 30px;
}

#login-form * {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#form-comentario button {
    margin-left: 120px;
}

 li {
    margin-top: 20px;
    text-decoration: none;
    list-style: none;
}

.btn-submit {
    border: none;
    background-color: rgb(201, 201, 201);
    border-radius: 7px;
    margin-top: 25px;
    padding: 10px;
    width: 100px;
}

#form-comentario form {
    margin: 10px auto 0px auto;
    padding: 10px auto 0px auto;
}

.disabled {
    display: none;
}

#menuDis button {
    font-size: 40px;
    background-color: transparent;
    border: none;
    width: 40px;
}

.divMenu{
    margin-left: 10px;
    width: 90px;
    margin-top: 10px;
    color: black;
    padding: 7px;
}

.divMenu button {
    font-size: 20px;
    width: 200px;
}

.comments {
    transition: all 0.5s ease
}

.comments.disabled {
    opacity: 0;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
}

#comment-feed {
    max-height: 60vh;
    max-width: 60vh;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}